@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;

  color: #fff;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  overflow-x: hidden;
}

main > * {
  @apply z-10;
}

h1 {
  @apply text-6xl mb-3;
}

p {
  @apply mb-2;
}

a {
  @apply font-bold;
}

input:focus,
textarea:focus,
select:focus {
  @apply outline-none;
}

input,
textarea,
select {
  @apply bg-transparent border-none;
}

@media (hover: hover) {
  a:hover {
    @apply underline;
  }
}

.text--aws {
  color: #ffc060;
}

.text--nuxt {
  color: #00c58e;
}

.text--laravel {
  color: #ff5f55;
}

.text--rust {
  color: #ff8a3a;
}

.text--go {
  color: #a4edff;
}

.border-primary {
  @apply border border-gray-200/20 rounded-md;
}

.mdx > h2 {
  @apply text-2xl md:text-4xl mt-8 mb-4 font-bold;
}

.mdx > h3 {
  @apply text-xl md:text-3xl mt-8 mb-4 font-bold;
}

.mdx > p {
  @apply mb-4 text-justify;
}

.mdx > pre {
  /* white-space: pre-wrap; */
  /* word-break: break-word; */
  @apply max-w-full overflow-x-auto mb-4;
}

.mdx > pre > code {
  @apply rounded-md;
}
