@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/RobotoSlab-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/RobotoSlab-Bold.ttf') format('truetype');
  font-display: swap;
}

:root {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;

  color: #fff;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  overflow-x: hidden;
}

main>* {
  @apply z-10;
}

main h1:first-child {
  @apply text-6xl my-8 md:mt-16 text-left;
}

h1 {
  @apply text-6xl mb-8;
}

p {
  @apply mb-2 text-white/80;
}

a {
  @apply font-bold;
}

input:focus,
textarea:focus,
select:focus {
  @apply outline-none;
}

input,
textarea,
select {
  @apply bg-transparent border-none;
}

@media (hover: hover) {
  a:hover {
    @apply underline;
  }
}

.text--aws {
  color: #ffc060;
}

.text--nuxt {
  color: #00c58e;
}

.text--laravel {
  color: #ff5f55;
}

.text--rust {
  color: #ff8a3a;
}

.text--go {
  color: #a4edff;
}

.border-primary {
  @apply border border-gray-200/20 rounded-md;
}
