@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;

  color: #fff;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  overflow-x: hidden;
}

main > * {
  @apply z-10;
}

h1 {
  @apply text-6xl;
}

a {
  @apply font-bold;
}

input:focus,
textarea:focus,
select:focus {
  @apply outline-none;
}

input,
textarea,
select {
  @apply bg-transparent border-none;
}

@media (hover: hover) {
  a:hover {
    @apply underline;
  }
}

.text--aws {
  color: #ff9900;
}

.text--nuxt {
  color: #00c58e;
}

.text--laravel {
  color: #ff2d20;
}

.text--rust {
  color: #ef4a00;
}

.text--go {
  color: #00acd7;
}

.border-primary {
  @apply border border-gray-200/20 rounded-md;
}
