@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap"); */

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-weight: 400;

  /* color: #222; */
  /* background-color: #ffffff; */

  color: #fff;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     color: #ccc; */
/*     background-color: #1a1a1a; */
/*   } */
/* } */

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main > * {
  z-index: 1;
}
